[class*=' col-'] p {
    font-size: 8pt;
    margin: 0;
    text-align: center;
}

[class*=' col-'] h6 {
    font-size: 10pt;
    color: #ffff00; 
    word-wrap: none;
    text-align: center;
}

.copyright {
    padding-top: 3%;
    overflow: hidden;
    font-size: 0.9rem;
    text-align: center;
 }

 i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 9px;
    background-color: #ffff00; 
    color: rgba(68,84,89,0.9);
  }

 .email a{
    color: #ffff00; 
 }