div p {
    font-size: 8pt;
    margin: 0;
    text-align: center;
}

div h6 {
    font-size: 10pt;
    color: #ffff00; 
    word-wrap: none;
    text-align: center;
}
.divider {
  border-left: 2px solid lightgray;
    height: 30px;
}

.copyright {
    padding-top: 3%;
    overflow: hidden;
    font-size: 0.9rem;
    text-align: center;
 }

 i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 9px;
    background-color: #ffff00; 
    color: rgba(68,84,89,0.9);
  }

 .email a{
    color: #ffff00; 
 }

 .icon {
    background: rgba(255, 255, 255, .6);
    color: rgba(0, 0, 0, .3);
      font-family: 'FontAwesome';
      font-size: 40px;
      line-height: 60px;
    margin-top: -30px;
    position: absolute; top: 50%;
    text-align: center;
    width: 60px; height: 60px;
  }
  .owl-next, 
  .owl-prev {
    height: 100%;
    position: absolute;
    top: 0;
    width: 33.33333333%;
  }
  .owl-next {
    right: 0;
  }
  .owl-prev {
    left: 0;
  }
  .owl-next:hover .icon, 
  .owl-prev:hover .icon {
    background: rgba(48, 117, 70, .8);
    color: rgba(255, 255, 255, .9);
  }
  .icon-arrow-left7 { left: 0; }
  .icon-arrow-left7:before { content: "\f053"; }
  .icon-arrow-right7 { right: 0; }
  .icon-arrow-right7:before { content: "\f054"; }
  
  @media (min-width: 768px) {
    .container { 
      /* background: #eee; */
      margin: 0 auto;
      overflow: hidden;
      width: 700px;
    }
    .owl-carousel {
      margin: 0 -60px;
      position: relative;
      width: 820px;
    }
    .owl-item > div {
      margin: 45px 60px;
      transition: margin 400ms ease-out;
    }
    .owl-item.center > div {
      margin: 0;
    }
    .owl-next {
      right: 60px;
    }
    .owl-prev {
      left: 60px;
    }
    .icon-arrow-left7 { left: auto; right: 0; }
    .icon-arrow-right7{ left: 0; right: autp; }
  }
 

