<div class="container">
  <div class="row pt-2">

    <div class="col-sm-12 col-md-4">
      <div class="text-center">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-fb mx-1">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-tw mx-1">
              <i class="fa fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm btn-li mx-1">
              <i class="fa fa-linkedin"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider"></div>
    <div class="col-sm-12 col-md-3">
      <div class="email">
        <a href="mailto:hello@lab.co.uk?subject=Hello%20Lab">hello@lab.co.uk</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="col-sm-12 col-md-4">
      <div class="phone">
        <a href="tel: 0207 183 6668">0207 183 6668</a>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="owl-carousel owl-theme">

      <div class="item">
        <p>+RAR DIGITAL AWARDS</p>
        <p>DIGITAL FULL SERVICE</p>
        <h6>WINNERS 2017</h6>
      </div>

      <div>
        <p>+RAR DIGITAL</p>
        <p>AWARDS DIGITAL STRATEGY</p>
        <h6>WINNERS 2017</h6>
      </div>

      <div>
        <p>+RAR DIGITAL</p>
        <p>AWARDS GRAND PRIX</p>
        <h6>WINNERS 2016</h6>
      </div>

      <div>
        <p>WIREHIVE 100</p>
        <p>MOST RESPECTED AGENCY</p>
        <h6>WINNERS 2016 </h6>
      </div>


      <div>
        <p>WIREHIVE 100</p>
        <p>FASTEST GROWTH</p>
        <h6>WINNERS 2015</h6>
      </div>

      <div>
        <p>WIREHIVE 100</p>
        <p>B2B SITE OF THE YEAR</p>
        <h6>WINNERS 2015</h6>
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="container-fluid">
      © 2017 Copyright Lab Lateral. All Rights Reserved |
      <a href="https://lab.co.uk/privacy-and-cookies-policy"> Privacy & Cookies Policy </a>
    </div>
  </div>
</div>