footer.page-footer {
    // position: absolute;
    // width: 100%;
    background-color:rgba(68,84,89,0.9);
}
form {
    padding: 4%;
    background-color:rgba(68,84,89,0.9);
}

form .h4 {
    color:  #ffff00;
}

.carousel-text-box {
    position: absolute;
    top: 0;
    display: inline-block;
    z-index: 100;
}

.carousel-text-box .row .text-box {
    padding: 2%;
    background-color:rgba(68,84,89,9);
}

.carousel-text-box .row .text-box h3 {
    font-weight: 300;
    color:  #ffff00;
}

.carousel-text-box .row .text-box p {
    color:  white;
}

.carousel-text-box .row .text-box .btn-yellow {
    color: gray!important;
    font-weight: bold;
}

#grid div img {
    width: inherit;
}


[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300;
    color: #ffff00;
    text-align: center;
    font-size: 15pt;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-row {
    background-image: url('/assets/Bitmap (14).png');
    background-size: cover;
}

.alert {
    padding: 7px;
    font-size: .9em;
    margin-bottom: 10px;
    color: white;
    animation: 2s alternate forwards;
}

select {
    width: 100%;
    height: 40px;
    color: gray;
    padding: 0 2%;
    border-radius: 0.2em;
}


@media (max-width: 576px){

}
