<header>
  <app-nav></app-nav>
</header>

<main>
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">


        <div class="carousel-text-box">

          <div class="row p-4">

            <div class="col-sx-12 col-sm-12 col-md-4 offset-md-1">

              <div class="text-box">
                <h3>
                  Elegant Communication
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet,
                  consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                </p>

                <button type="button" class="btn btn-yellow btn-lg btn-block">LINK TEXT</button>

              </div>


            </div>

          </div>
        </div>

        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="assets/Bitmap (13).png" style="height:350px">
          </div>
          <div class="item">
            <img src="assets/Bitmap (11).png" style="height:350px">
          </div>
          <div class="item">
            <img src="assets/Bitmap (1).png" style="height:350px">
          </div>
        </div>

      </div>

    </div>

    <div class="row" id="grid">

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (2).png">
        <div class="centered">Digital Strategy</div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (3).png">
        <div class="centered">Design</div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (15).png">
        <div class="centered">Development</div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (2).png">
        <div class="centered">Performance Marketing
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (4).png">
        <div class="centered">Neuro Linguistic Search
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (5).png">
        <div class="centered">Neuromarketing</div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (6).png">
        <div class="centered">Video</div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3">
        <img src="assets/Bitmap (7).png">
        <div class="centered">Analysis & Improvement
        </div>
      </div>

    </div>

    <div class="row" id="contact-row">


      <div class="col-xs-12 col-sm-12 col-md-6" id="contact-col">

        <div class="row pt-2 justify-content-center">
          <h2><strong>Happiness Indicators</strong></h2>
        </div>

        <div class="row justify-content-center">
          <h5><strong>How happy are you right now?</strong></h5>
        </div>

        <div class="row justify-content-center">

          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">

              <div class="carousel-item active">

                <div class="col-md-12">
                  <img class="img-fluid" src="assets/Path 96.png" style="height:350px" alt="Card image cap">
                </div>

              </div>
              <!--/.First slide-->

              <div class="carousel-item">

                <div class="col-md-12 clearfix d-none d-md-block">
                  <img class="img-fluid" src="assets/Path 281.png" style="height:350px" alt="Card image cap">
                </div>

              </div>
              <!--/.Second slide-->

              <div class="carousel-item">

                <div class="col-md-12">
                  <img class="img-fluid" src="assets/Path 96.png" style="height:350px" alt="Card image cap">
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 p-4">

        <form [formGroup]="formGroup" (ngSubmit)="postDetails(formGroup.value)">
          <p class="h4 text-center mb-4">Elegant Communication</p>

          <input type="text" formControlName="fullName" placeholder="full name" class="form-control" />
          <div class="alert" *ngIf="!formGroup.controls['fullName'].valid && formGroup.controls['fullName'].touched">Full name is required!</div>
          <br>

          <input type="email" formControlName="emailAddress" placeholder="email address" class="form-control" />
          <div class="alert" *ngIf="!formGroup.controls['emailAddress'].valid && formGroup.controls['emailAddress'].touched">Email Address is required!</div>
          <br>

          <input type="number" formControlName="contactNumber" placeholder="contact number" class="form-control" />
          <div class="alert" *ngIf="!formGroup.controls['contactNumber'].valid && formGroup.controls['contactNumber'].touched">Contact Number is required!</div>
          <br>

          <select>
            <option selected>digital strategy or transformation</option>
            <option>branding and creative</option>
            <option>website design or build</option>
            <option>neuromarketing, nero-linguistic</option>
            <option>performance marketing or other marketing services</option>
            <option>joining Lab</option>
            <option>somone to just give me a call</option>
          </select>

          <div class="text-center mt-4">
            <button class="btn btn-yellow btn-lg btn-block" type="submit" [disabled]="!formGroup.valid">Contact me</button>
          </div>
        </form>

      </div>
    </div>

  </div>


</main>
<!-- fixed-bottom -->
<footer class="page-footer text-center font-small mt-4 wow fadeIn ">
  <app-footer></app-footer>
</footer>